@import url('https://fonts.googleapis.com/css?family=Roboto:medium,black');


/* change background of body */
body {
  background-color: #F4F7F9;
  color: #303335;
  font-family:'Roboto medium', 'Helvetica Neue medium', 'Arial';
}

body>.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* change font for all h1 headers*/
h1 {
  font-family: 'Roboto black', 'Helvetica Neue Bold', 'Arial Black', sans-serif;
}

/* change background of navbar menu at top of page */
.navbar.navbar-default.navbar-static-top {
  background-color: #000000;
}


/* change font and background color of selected navbar tab */
.dropdown.active {
  color: #000000;
  background-color: #f4f7f9;
}

/* change font and background color of selected navbar tab */
.dropdown-toggle {
  color: #000000;
  background-color: transparent !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #f4f7f9;
}

/* change font color of navbar of unselected items */
.navbar-default .navbar-nav>li>a {
    color: #eeeeee;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #000000;
}

/* change font of the filter labels */
.control-label {
  width: 300px;
  font-weight: normal;

}


/* change width of the drop down options */
.dropdown-menu.open {
  width: 300px;
}

label{
  font-weight: normal;
}
